@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
:root {
  --background-color:#000;
  --font-color: #149414;
  --font-family: 'Orbitron', sans-serif;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  letter-spacing: 1.9px;
  font-size: 1.4vw;
}
.container {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  height: 90vh;
  margin: 0 10%;
}
nav {
  text-align: center;
}
nav a {
  display: block;
  text-decoration: none;
  color: var(--font-color);
  padding-bottom: 6px;
  transition: all 0.3s ease;
}
nav a:hover {
  display: block;
  text-decoration: line-through;
  color:#fff;
}